/* CONTENT SHARED IN ALL FORMATS */
/* MAIN WRAPPER */
.main-wrapper{
  /* FONTS */
  font-family: 'Barlow', sans-serif;
  line-height: 1.5;
  /* GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
}

/* HEADER */
#home{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* HEADER GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* COLOR */
  background-color: rgb( 23, 32, 42 );
  color: rgb( 234, 236, 238 );
  /* DISPLAY */
  border-radius: 0.5em;
  display: inline-grid;
}
.header-title{
  /* GRID */
  grid-column: 1 / 6;
  grid-row: auto;
  /* DISPLAY */
  font-size: 1.5em;
  padding: 0.5em;
  padding-left: 2em;
}
.header-navigation{
  /* GRID */
  grid-column: 6 / 13;
  grid-row: auto;
  /* DISPLAY */
  padding: 0.8em;
  /* TEXT */
  font-size: 1.2em;
  text-align: center;
}
.links{
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}
.links:hover{
  background-color: rgb( 44, 62, 80 );
  border-radius: 0.5em;
}
.links:link{
  color: rgb( 234, 236, 238 );
}
.links:visited{
  color: rgb( 234, 236, 238 );
}

/* MAIN PROFILE */
.profile-main-wrapper{
  /* GRID */
  grid-column: 1 /13;
  grid-row: auto;
  /* PROFILE GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
}
.profile-picture{
  /* PROFILE GRID */
  grid-column: 3 / 6;
  /* DISPLAY */
  padding-top: 5em;
  padding-bottom: 5em;
  padding-right: 0.5em;
}
#profile-picture{
  /* DISPLAY */
  float: right;
  border-radius: 100%;
}
.profile-text{
  /* PROFILE GRID */
  grid-column: 6 / 11;
  /* DISPLAY */
  padding-top: 12em;
  padding-bottom: 6em;
  padding-right: 2em;
  padding-left: 1.5em;
  /* TEXT */
  font-size:
}
#name{
  /* TEXT */
  font-size: 3em;
}
#resume{
  /* TEXT */
  font-size: 1.3em;
  /* DISPLAY */
  padding-left: 1em;
}

/* UNIVERSAL */
.subtitle{
  font-weight: 600;
  font-size: 1.3em;
  grid-column: 1 / 13;
}
img {
    max-width:100%;
    height:auto;
    padding: 1em;
}

/* INTRODUCTION */
#introduction{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* COLOR */
  background-color: rgb( 213, 216, 220 );
  /* DISPLAY */
  border-radius: 1.5em;
  padding: 2em;
  margin: 1em;
}
.introduction-images{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* INTRO IMAGE GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* DISPLAY */
  padding: 2em;
  text-align: center;
}
#introduction-image-1{
  /* INTRO IMAGE GRID */
  grid-column: 3 / 7;
  grid-row: auto;
  /* DISPLAY */
  padding-right: 2em;
}
#introduction-image-2{
  /* INTRO IMAGE GRID */
  grid-column: 7 / 11;
  grid-row: auto;
  /* DISPLAY */
  padding-left: 2em;
}

/* PROFESSIONAL EXPERIENCE */
#professional-experience{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* PROFESSIONAL EXPERIENCE GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* COLOR */
  background-color: rgb( 213, 216, 220 );
  /* DISPLAY */
  border-radius: 1.5em;
  padding: 2em;
  margin: 1em;
}
#professional-experience-aside{
  /* PROFESSIONAL EXPERIENCE GRID */
  grid-column: 9 / 13;
  grid-row: auto;
}
.professional-experience-aside-sections{
  /* DISPLAY */
  border-left:solid 4px rgb( 23, 32, 42 );
  border-top:solid 1px rgb( 23, 32, 42 );
  border-right:solid 1px rgb( 23, 32, 42 );
  border-bottom:solid 4px rgb( 23, 32, 42 );
  border-radius: 0.5em;
  margin-bottom: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}
.contact-column{
  /* DISPLAY */
  padding-right: 1em;
  padding-bottom: 1em;
}
#professional-experience-text{
  /* PROFESSIONAL EXPERIENCE GRID */
  grid-column: 1 / 9;
  grid-row: auto;
  /* DISPLAY */
  padding-right: 3em;
  padding-left: 0.5em;
}

/* PICTURES OF ME */
#pictures-of-me-main-wrapper{
  /* GRID */
  grid-column: 2 / 12;
  grid-row: auto;
  /* DISPLAY */
  padding: 2em;
  display: inline-flex;
}
#pictures-of-me{
  padding-right: 4em;
}

/* HOBBIES AND INTERESTS */
#hobbies-and-interests{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* HOBBIES AND INTERESTS GRID */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* COLOR */
  background-color: rgb( 213, 216, 220 );
  /* DISPLAY */
  border-radius: 1.5em;
  padding: 2em;
  margin: 1em;
}
#hobby-table{
  /* HOBBIES AND INTERESTS GRID */
  grid-column: 2 / 12;
  grid-row: auto;
  /* DISPLAY */
  padding-top: 15px;
}
.hobby-table-head{
  text-align: left;
  background-color: rgb( 23, 32, 42 );
  color: white;
  padding: 10px;
}
.hobby-table{
  border: solid 1px;
  border-color: rgb( 213, 216, 220 );
  background-color: rgb( 234, 236, 238 );
  padding: 10px;
}

/* SOCIAL MEDIA */
#social-media{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* COLOR */
  background-color: rgb( 213, 216, 220 );
  /* DISPLAY */
  border-radius: 1.5em;
  padding: 2em;
  margin: 1em;
}
.links-social-media{
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}
.links-social-media:hover{
  background-color: rgb( 171, 178, 185 );
  border-radius: 0.5em;
}
.links-social-media:link{
  color: black;
}
.links-social-media:visited{
  color: black;
}

/* FOOTER */
#footer{
  /* GRID */
  grid-column: 1 / 13;
  grid-row: auto;
  /* COLOR */
  background-color: rgb( 23, 32, 42 );
  color: rgb( 234, 236, 238 );
  /* DISPLAY */
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 1em;
}
