/* content shared on all formats */

/* gallery main wrapper *//* gallery main wrapper *//* gallery main wrapper */
.gallery-main-wrapper{
  /* main gallery grid */
  grid-row: auto;
  /* gallery grid */
  display: grid;
  grid-template-rows: auto;
  /* display */
  padding-bottom: 4em;
  text-align: center;
}

/* button *//* button *//* button *//* button *//* button *//* button *//* button */
button{
  background-color: rgb( 23, 32, 42 );
  border: none;
  border-radius: 1em;
  color: white;
  float: right;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.button{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
button:hover{
  background-color: rgb( 44, 62, 80 );
  border: none;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

/* galleries *//* galleries *//* galleries *//* galleries *//* galleries *//* galleries */
.art-1{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-1:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-1-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-2{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-2:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-2-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-3{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-3:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-3-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-4{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-4:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-4-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  border-radius: 0.75em;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-5{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-5:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-5-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-6{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-6:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-6-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-7{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-7:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-7-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-8{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-8:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-8-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-9{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-9:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-9-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-10{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-10:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-10-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-11{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-11:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-11-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-12{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-12:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-12-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-13{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.art-13:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-13-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}

/* Add Here styles for larger phones and tablets *//* Add Here styles for larger phones and tablets */
@media (min-width: 25em) {
  /* gallery main wrapper */
  .gallery-main-wrapper{
    /* main gallery grid */
    grid-column: 1 / 13;
    /* gallery grid */
    grid-template-columns: 1fr;
    grid-row-gap: 1.25em;
  }
  /* galleries */
  .art-1{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-2{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-3{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-4{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-5{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-6{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-7{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-8{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-9{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-10{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-11{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-12{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .art-13{
    /* gallery grid */
    grid-column: 1 / 13;
  }
}

/* Add Here styles for smaller laptops, larger tablets and small screens */
@media (min-width:48em) {
  /* gallery main wrapper */
  .gallery-main-wrapper{
    /* main gallery grid */
    grid-column: 1 / 13;
    /* gallery grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-row-gap: 1.25em;
    /* display */
    padding-left: 1em;
    padding-right: 1em;
  }

  /* galleries */
  .art-1{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-2{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-3{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-4{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-5{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-6{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-7{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-8{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-9{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-10{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-11{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .art-12{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .art-13{
    /* gallery grid */
    grid-column: 7 / 13;
  }
}

/* Add Here styles for regular laptops and desktops *//* Add Here styles for regular laptops and desktops */
@media (min-width:62em) {
  /* gallery main wrapper */
  .gallery-main-wrapper{
    /* main gallery grid */
    grid-column: 2 / 12;
    /* gallery grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.25em;
    grid-row-gap: 1.5em;
  }

  /* galleries */
  .art-1{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-2{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-3{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-4{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-5{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-6{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-7{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-8{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-9{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-10{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-11{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-12{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-13{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
}

/* Add Here styles for xLarge monitors *//* Add Here styles for xLarge monitors */
@media (min-width:75em) {
  /* gallery main wrapper */
  .gallery-main-wrapper{
    /* main gallery grid */
    grid-column: 3 / 11;
    /* gallery grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 1.25em;
    grid-row-gap: 1.5em;
  }

  /* galleries */
  .art-1{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-2{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-3{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-4{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-5{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-6{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-7{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-8{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-9{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-10{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .art-11{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .art-12{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }
  .art-13{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
}
