/* content shared on all formats */

/* main wrapper *//* main wrapper *//* main wrapper *//* main wrapper *//* main wrapper */
.main-wrapper{
  /* main wrapper grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* fonts */
  color: rgb( 23, 32, 42 );
  font-family: 'Barlow', sans-serif;
  line-height: 1.5em;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body {
  /* spread across entire window */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* header *//* header *//* header *//* header *//* header *//* header *//* header */
.header-main-wrapper{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* header grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* background image */
  background-image: url("../images/main/main-1.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
.header-main-wrapper-portfolio{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* header grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
}
.logo{
  /* header grid */
  grid-row: auto;
  /* display */
  padding-bottom: 1em;
  padding-top: 1em;
}
.header-title{
  /* header grid */
  grid-row: auto;
  /* display */
}

/* hamburger navigation bar *//* hamburger navigation bar *//* hamburger navigation bar */
nav{
  margin: 0;
  padding: 0;
}
nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
nav ul.opening{
  display: block;
  height: 30px;
}
nav li{
  border-bottom: 0.15em solid rgb( 44, 62, 80 );
}
nav a {
  color: rgb( 234, 236, 238 );
  background: rgb( 44, 62, 80 );
  display: block;
  padding: 0.5em 3em 0.5em 2em;
  text-decoration: none;
}
nav a:hover, nav a:focus {
  background: rgb( 44, 62, 80 );
}
.navigation{
  /* header grid */
  grid-column: 1 / 13;
  grid-row: auto;
}
.navigation--icon {
  font-size: 1.4em;
  margin-right: 1em;
  width:1.1em;
  text-align: right;
  color: rgba( 234, 236, 238 .4 );
}
.menu-toggle {
  position: absolute;
  padding: 0.8em;
  top: 1em;
  right: .5em;
  cursor: pointer;
  }
.hamburger, .hamburger::before, .hamburger::after {
  content:'';
  display: block;
  background: rgb( 44, 62, 80 );
  height:3px;
  width: 2em;
  border-radius: 3px;
  -webkit-transition:all ease-in-out350ms;
  transition:all ease-in-out350ms;
}
.hamburger::before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.hamburger::after {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}
.open .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.open .hamburger::before {
  display:none;
}
.open .hamburger::after {
  -webkit-transform: translateY(-1px) rotate(-90deg);
  transform: translateY(-1px) rotate(-90deg);
}

/* sticky navigation bar *//* sticky navigation bar *//* sticky navigation bar */
.sticky{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.sticky + .content{
  padding-top: 60px;
}

/* introduction *//* introduction *//* introduction *//* introduction *//* introduction */
.introduction-main-wrapper{
  /* main grid */
  grid-row: auto;
}
.introduction-main-wrapper a{
  text-decoration: none;
}
.introduction-main-wrapper a:link{
  color: rgb( 44, 62, 80 );
}
.introduction-main-wrapper a:visited{
  color: rgb( 44, 62, 80 );
}
.introduction-main-wrapper img{
  /* main grid */
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.entry-1{
  background-color: rgb( 234, 236, 238 );
  padding: 1.5em;
  margin-top: 2em;
}
.entry-2{
  background-color: rgb( 234, 236, 238 );
  padding: 1.5em;
  margin-bottom: 3em;
}

/* latest content section *//* latest content section *//* latest content section */
.latest-content-main-wrapper{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* latest content grid */
  display: grid;
  grid-template-rows: auto;
  /* display */
  color: rgb( 23, 32, 42 );
}
.latest-content-main-wrapper img:hover{
  opacity: 80%;
}
.latest-content-title{
  /* latest content grid */
  grid-column: 1 / 13;
  grid-row: auto;
}
.latest-content-gallery{
  /* latest content grid */
  grid-column: 1 / 13;
  grid-row: auto;
}
.latest-content-main-wrapper figcaption{
  text-align: center;
}
.main-content-1{
  /* latest content grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.main-content-2{
  /* latest content grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.main-content-3{
  /* latest content grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.main-content-4{
  /* latest content grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}

/* links to artwork *//* links to artwork *//* links to artwork *//* links to artwork */
.links-to-artwork{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* latest content grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.75em;
}
.links-to-artwork img:hover{
  opacity: 75%;
}
.links-to-artwork figure{
  color: rgb( 23, 32, 42 );
  margin: 0.25em;
}
.links-to-artwork figcaption{
  font-weight: 600;
  text-align: center;
}
.hover-1{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.hover-1:hover{
  cursor: pointer;
  opacity: 75%;
}
.hover-1-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.hover-2{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.hover-2:hover{
  cursor: pointer;
  opacity: 75%;
}
.hover-2-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.hover-3{
  /* gallery grid */
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
}
.hover-3:hover{
  cursor: pointer;
  opacity: 75%;
}
.hover-3-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}

/* blog *//* blog *//* blog *//* blog *//* blog *//* blog *//* blog *//* blog */
.blog-main-wrapper{
  /* main grid */
  grid-row: auto;
  /* blog main grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 1.5em;
  /* display */
  padding-bottom: 5em;
}
.blog-box{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* blog grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* display */
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgb( 234, 236, 238 );
}
.blog-box img{
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.blog-text a{
  text-decoration: none;
}

/* resume *//* resume *//* resume *//* resume *//* resume *//* resume *//* resume */
.resume{
  /* main grid */
  grid-row: auto;
  /* display */
  padding: 1em;
}
.resume-content{
  display: none;
}
.resume button{
  background-color: rgb( 23, 32, 42 );
  border: none;
  border-radius: 1em;
  color: white;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.button-open-resume{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.button-close-resume{
  display: inline-flex;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
button:hover{
  background-color: rgb( 44, 62, 80 );
  border: none;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

/* newsletter *//* newsletter *//* newsletter *//* newsletter *//* newsletter */
form {
  border: 4px solid #f1f1f1;
  margin-bottom: 1.5em;
}
.container {
  padding: 20px;
  background-color: #f1f1f1;
}
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=checkbox] {
  margin-top: 16px;
}
input[type=submit] {
  background-color: rgb( 44, 62, 80 );
  color: white;
  border: none;
}
input[type=submit]:hover {
  opacity: 0.8;
}


/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
.footer-main-wrapper{
  /* main grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* header main wrapper */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  /* display */
  background-color: rgb( 23, 32, 42 );
  color: rgb( 234, 236, 238 );
  font-size: 0.85em;
  padding: 3em;
}
.footer-table{
  /* display */
  grid-row: auto;
  table-layout: auto;
  /* aesthetic */
  background-color: rgb( 23, 32, 42 );
  color: rgb( 234, 236, 238 );
}
.footer-table-head{
  text-align: left;
  background-color: rgb( 23, 32, 42 );
  color: rgb( 234, 236, 238 );
}
.footer-main-wrapper a{
  text-decoration: none;
}
.footer-main-wrapper a:link{
  color: rgb( 234, 236, 238 );
}
.footer-main-wrapper a:visited{
  color: rgb( 234, 236, 238 );
}
.footer-copyright{
  /* header main wrapper */
  grid-row: auto;
}

/* Add Here styles for larger phones and tablets *//* Add Here styles for larger phones and tablets */
@media (min-width:20em) {
  /* header */
  .header-title{
    /* header grid */
    grid-column: 1 / 13;
    /* display */
    font-size: 3em;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    text-align: center;
  }
  .logo{
    grid-column: 1 / 13;
    padding-left: 1em;
  }

  /* introduction */
  .introduction-main-wrapper{
    /* main grid */
    grid-column: 1 / 13;
    /* display */
    padding: 2em;
    padding-bottom: 1em;
    padding-top: 2.5em;
  }

  /* latest content section */
  .latest-content-main-wrapper{
    /* latest content grid */
    grid-template-columns: 1fr;
  }
  .latest-content-title{
    /* display */
    text-align: center;
  }
  .latest-content-main-wrapper figcaption{
    font-size: 1em;
    padding-top: 0.75em;
  }
  .main-content-1{
    /* latest content grid */
    grid-column: 1;
    /* display */
    padding: 1em;
  }
  .main-content-2{
    /* latest content grid */
    grid-column: 1;
    /* display */
    padding: 1em;
  }
  .main-content-3{
    /* latest content grid */
    grid-column: 1;
    /* display */
    padding: 1em;
  }
  .main-content-4{
    /* latest content grid */
    grid-column: 1;
    /* display */
    padding: 1em;
  }

  /* links to artwork */
  .links-to-artwork{
    /* display */
    display:grid;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-bottom: 3.25em;
    padding-top: 4em;
  }
  .links-to-artwork figcaption{
    font-size: 0.8em;
  }
  .hover-1{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .hover-2{
    /* gallery grid */
    grid-column: 1 / 13;
  }
  .hover-3{
    /* gallery grid */
    grid-column: 1 / 13;
  }

  /* blog */
  .blog-main-wrapper{
    /* main grid */
    grid-column: 1 / 13;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .blog-box img{
    /* blog grid */
    display: none;
  }
  .blog-text{
    /* blog grid */
    grid-column: 1 / 13;
    padding-bottom: 1em;
  }

  /* resume */
  .resume{
    /* main grid */
    grid-column: 1 / 13;
    /* display */
    padding: 1em;
    padding-bottom: 3.5em;
    padding-top: 1em;
  }

  /* footer */
  .footer-table{
    /* display */
    grid-column: 1 / 10;
  }
  .footer-copyright{
    /* header main wrapper */
    grid-column: 1 / 13;
    grid-row: auto;
    /* display */
    padding-top: 1em;
    text-align: left;
  }
}

/* Add Here styles for smaller laptops, larger tablets and small screens */
@media (min-width:48em) {
  /* header */
  .header-title{
    /* header grid */
    grid-column: 1 / 13;
    /* display */
    font-size: 5em;
    padding-bottom: 0.5em;
    padding-top: 1.5em;
    text-align: center;
  }
  .logo{
    grid-column: 1 / 13;
    padding-left: 1em;
  }

  /* introduction */
  .introduction-main-wrapper{
    /* main grid */
    grid-column: 2 / 12;
    /* display */
    padding: 1em;
    padding-bottom: 1em;
    padding-top: 2.5em;
  }

  /* latest content section */
  .latest-content-main-wrapper{
    /* latest content grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .latest-content-title{
    /* display */
    text-align: center;
  }
  .latest-content-gallery{
    /* latest content grid */
    grid-gap: 1em;
  }
  .latest-content-main-wrapper figcaption{
    font-size: 1em;
  }
  .main-content-1{
    /* latest content grid */
    grid-column: 1 / 7;
    /* display */
    padding: 1em;
  }
  .main-content-2{
    /* latest content grid */
    grid-column: 7 / 13;
    /* display */
    padding: 1em;
  }
  .main-content-3{
    /* latest content grid */
    grid-column: 1 / 7;
    /* display */
    padding: 1em;
  }
  .main-content-4{
    /* latest content grid */
    grid-column: 7 / 13;
    /* display */
    padding: 1em;
  }

  /* links to artwork */
  .links-to-artwork{
    /* display */
    display:grid;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-bottom: 3.25em;
    padding-top: 4em;
  }
  .links-to-artwork figcaption{
    font-size: 0.8em;
  }
  .hover-1{
    /* gallery grid */
    grid-column: 1 / 7;
  }
  .hover-2{
    /* gallery grid */
    grid-column: 7 / 13;
  }
  .hover-3{
    /* gallery grid */
    grid-column: 1 / 7;
  }

  /* blog */
  .blog-main-wrapper{
    /* main grid */
    grid-column: 2 / 12;
  }
  .blog-box img{
    /* blog grid */
    display: none;
  }
  .blog-text{
    /* blog grid */
    grid-column: 1 / 13;
    padding-bottom: 1em;
  }

  /* resume */
  .resume{
    /* main grid */
    grid-column: 2 / 12;
    /* display */
    padding: 1em;
    padding-bottom: 3.5em;
    padding-top: 1em;
  }

  /* footer */
  .footer-table{
    /* display */
    grid-column: 1 / 5;
  }
  .footer-copyright{
    /* header main wrapper */
    grid-column: 9 / 13;
    grid-row: auto;
    /* display */
    align-self: flex-end;
    text-align: right;
  }
}

/* hamburger link media query */
@media (min-width:48.75em) {
  .navigation{
    background-color: rgb( 23, 32, 42 );
  }
  .menu-toggle{
    display:none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    flex: 1 1 auto;
    border:none;
  }
  nav li a {
    padding: 0.3em 0.1em 0.3em 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    margin:0;
    border:none;
    background-color: rgb( 23, 32, 42 );
  }
  nav a:hover, nav a:focus{
    background-color: rgba( 23, 32, 42 .10);
  }
  .logo {
    flex:0 0 200px;
    margin:0;
    padding-left:20px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:center;
    background-color: rgb( 23, 32, 42 );
  }
}

/* Add Here styles for regular laptops and desktops *//* Add Here styles for regular laptops and desktops */
@media (min-width:62em) {
  /* header */
  .header-title{
    /* header grid */
    grid-column: 1 / 13;
    /* display */
    font-size: 5em;
    padding-bottom: 0.1em;
    padding-left: 0.25em;
    padding-top: 2.45em;
    text-align: left;
  }
  .logo{
    grid-column: 1 / 13;
  }

  /* introduction */
  .introduction-main-wrapper{
    /* main grid */
    grid-column: 3 / 11;
    /* display */
    padding: 1em;
    padding-bottom: 1em;
    padding-top: 2.5em;
  }

  /* latest content section */
  .latest-content-main-wrapper{
    /* latest content grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .latest-content-title{
    /* display */
    padding-left: 1em;
    text-align: left;
  }
  .latest-content-gallery{
    /* latest content grid */
    grid-gap: 1em;
  }
  .latest-content-main-wrapper figcaption{
    font-size: 0.75em;
  }
  .main-content-1{
    /* latest content grid */
    grid-column: 1 / 4;
    /* display */
    padding: 0.5em;
  }
  .main-content-2{
    /* latest content grid */
    grid-column: 4 / 7;
    /* display */
    padding: 0.5em;
  }
  .main-content-3{
    /* latest content grid */
    grid-column: 7 / 10;
    /* display */
    padding: 0.5em;
  }
  .main-content-4{
    /* latest content grid */
    grid-column: 10 / 13;
    /* display */
    padding: 0.5em;
  }

  /* links to artwork */
  .links-to-artwork{
    /* display */
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-bottom: 3.25em;
    padding-top: 4em;
  }
  .links-to-artwork figcaption{
    font-size: 0.9em;
  }
  .hover-1{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .hover-2{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .hover-3{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }

  /* blog */
  .blog-main-wrapper{
    /* main grid */
    grid-column: 3 / 11;
  }
  .blog-box img{
    /* blog grid */
    grid-column: 1 / 4;
    display: grid;
  }
  .blog-text{
    /* blog grid */
    grid-column: 5 / 13;
    /* display */
    margin-left: -2.5em;
  }

  /* resume */
  .resume{
    /* main grid */
    grid-column: 3 / 11;
    /* display */
    padding: 1em;
    padding-bottom: 3.5em;
    padding-top: 1em;
  }

  /* footer */
  .footer-table{
    /* display */
    grid-column: 1 / 4;
  }
  .footer-copyright{
    /* header main wrapper */
    grid-column: 10 / 13;
    grid-row: auto;
    /* display */
    align-self: flex-end;
    text-align: right;
  }
}

/* Add Here styles for xLarge monitors *//* Add Here styles for xLarge monitors */
@media (min-width:75em) {
  /* header */
  .header-title{
    /* header grid */
    grid-column: 1 / 13;
    /* display */
    font-size: 5em;
    padding-bottom: 0.1em;
    padding-left: 0.25em;
    padding-top: 2.45em;
    text-align: left;
  }
  .logo{
    grid-column: 1 / 13;
  }

  /* introduction */
  .introduction-main-wrapper{
    /* main grid */
    grid-column: 3 / 11;
    /* display */
    padding: 1em;
    padding-bottom: 1em;
    padding-top: 2.5em;
  }

  /* latest content section */
  .latest-content-main-wrapper{
    /* latest content grid */
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .latest-content-title{
    /* display */
    padding-left: 1em;
    text-align: left;
  }
  .latest-content-main-wrapper figcaption{
    font-size: 0.75em;
  }
  .main-content-1{
    /* latest content grid */
    grid-column: 1 / 4;
    /* display */
    padding: 1em;
  }
  .main-content-2{
    /* latest content grid */
    grid-column: 4 / 7;
    /* display */
    padding: 1em;
  }
  .main-content-3{
    /* latest content grid */
    grid-column: 7 / 10;
    /* display */
    padding: 1em;
  }
  .main-content-4{
    /* latest content grid */
    grid-column: 10 / 13;
    /* display */
    padding: 1em;
  }

  /* links to artwork */
  .links-to-artwork{
    /* display */
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    padding-bottom: 3.25em;
    padding-top: 4em;
  }
  .links-to-artwork figcaption{
    padding-top: 0.5em;
  }
  .hover-1{
    /* gallery grid */
    grid-column: 1 / 5;
    /* display */
    padding: 0.5em;
  }
  .hover-2{
    /* gallery grid */
    grid-column: 5 / 9;
    /* display */
    padding: 0.5em;
  }
  .hover-3{
    /* gallery grid */
    grid-column: 9 / 13;
    /* display */
    padding: 0.5em;
  }

  /* blog */
  .blog-main-wrapper{
    /* main grid */
    grid-column: 3 / 11;
  }
  .blog-box img{
    /* blog grid */
    grid-column: 1 / 4;
    display: grid;
  }
  .blog-text{
    /* blog grid */
    grid-column: 5 / 13;
    /* display */
    margin-left: -2.5em;
  }

  /* resume */
  .resume{
    /* main grid */
    grid-column: 3 / 11;
    /* display */
    padding: 1em;
    padding-bottom: 3.5em;
    padding-top: 1em;
  }

  /* footer */
  .footer-table{
    /* display */
    grid-column: 1 / 4;
  }
  .footer-copyright{
    /* header main wrapper */
    grid-column: 10 / 13;
    /* display */
    align-self: flex-end;
    text-align: right;
  }
}
