/* content shared on all formats */

/* gallery main wrapper */
.gallery-main-wrapper{
  /* main gallery grid */
  grid-column: 3 / 11;
  grid-row: auto;
  /* gallery grid */
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-gap: 1em;
  /* display */
  padding-bottom: 4em;
  text-align: center;
}

/* button */
button{
  background-color: rgb( 23, 32, 42 );
  border: none;
  border-radius: 1em;
  color: white;
  float: right;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.button{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
button:hover{
  background-color: rgb( 44, 62, 80 );
  border: none;
  border-radius: 1em;
  color: white;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

/* galleries */
.art-1{
  /* gallery grid */
  grid-column: 1 / 5;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-1:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-1-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-2{
  /* gallery grid */
  grid-column: 5 / 9;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-2:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-2-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-3{
  /* gallery grid */
  grid-column: 9 / 13;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-3:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-3-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-4{
  /* gallery grid */
  grid-column: 1 / 5;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-4:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-4-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  border-radius: 0.75em;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-5{
  /* gallery grid */
  grid-column: 5 / 9;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-5:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-5-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-6{
  /* gallery grid */
  grid-column: 9 / 13;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-6:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-6-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-7{
  /* gallery grid */
  grid-column: 1 / 5;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-7:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-7-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-8{
  /* gallery grid */
  grid-column: 5 / 9;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-8:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-8-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-9{
  /* gallery grid */
  grid-column: 9 / 13;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-9:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-9-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-10{
  /* gallery grid */
  grid-column: 1 / 5;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-10:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-10-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-11{
  /* gallery grid */
  grid-column: 5 / 9;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-11:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-11-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
.art-12{
  /* gallery grid */
  grid-column: 9 / 13;
  grid-row: auto;
  /* display */
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}
.art-12:hover{
  cursor: pointer;
  opacity: 75%;
}
.art-12-info{
  /* galllery grid */
  grid-column: 1 / 13;
  grid-row: auto;
  /* display */
  display: none;
  padding: 1.5em;
  padding-bottom: 2.5em;
}
